{%
  set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
  %}
  <article>
    <div class="wrapper-photo">
      {{fields.field_foto_principal.content}}
    </div>
    <div class="wrapper-info">
      <div class="text">
        <div class="content-star after">
          {% set calificacion = row._entity.field_calificacion is empty ? 0 : row._entity.field_calificacion.value %}
          {% for item in 5..1 %}
          <input type="radio" {% if calificacion == item  %} checked="checked" {% endif %}value="{{item}}">
          <label class="star"></label>
          {% endfor %}        
        </div>
        <h3 class="titleHeight">
          <a href="{{fields.view_node.content}}" data-seo="btn-content">{{fields.title.content}}</a>
        </h3>
        <p class="textHeight">{{fields.body.content}}</p>
        <a href="{{fields.view_node.content}}" class="btn-link" data-seo="btn-content">Leer más</a>
        <div class="bottom">
          <div class="counter counter-desktop"></div>
        </div>
      </div>
    </div>
  </article>