<li class="item-menu">
  	<a href="#sustainability1-mobile" class="a-item-menu icon-icon-arrow" data-toggle="collapse" data-seo="btn-header">
    	{{item.title}}<i class="demo-icon icon-icon-arrow-down">&#xe809;</i>
 	</a>
  	<a href="{{get_config_data('config.settings','sostenibilidad')}}" class="a-item-prehome" data-seo="btn-header">
      {{get_config_data('config.settings','Label_prehome')}}<i class="demo-icon icon-icon-redirect">&#xe83a;</i>
  	</a>
	<ul id="sustainability1-mobile" class="no-dics panel-collapse collapse collapse1">
		{% set tidSostenibilidad=0 %}
		{% for key, value in obtener_taxonomia('categorias_menu_sostenibilidad') %}
		{% set taxInfo = obtener_taxonomia_detalle(key,'field_desactivar_menu_dinamico,field_vista') %}
			<li class="item-collapse1">
				<span class="a-item-collapse1 dataid" data-id="megamenu-sustainability" data-tid="{{key}}" data-view="{% if taxInfo.field_desactivar_menu_dinamico == 1%}sostenibilidad_menu_contenido{%else%}{{taxInfo.field_vista}}{% endif %}" data-url="field_url_youtube" data-mode="mobile" data-seo="btn-header">
				{{value.name}}<i class="demo-icon icon-icon-arrow-right">&#xe80c;</i>
				</span>
			</li>
		{% endfor %}
	</ul>
</li>
