{%
  set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
  %}
  <article {% if fields.field_momento_destacado.content|render == 1%}class="moment-featured"{%endif %}>
    <div class="img">
      <a href="{{fields.view_taxonomy_term.content}}" data-seo="btn-content">
        {% if fields.field_momento_destacado.content|render == 1%}
          {{fields.field_foto_1.content}}
        {% else %}
          {{fields.field_foto.content}}
        {% endif %}
    </a>
    </div>
    <div class="info" {% if fields.field_momento_destacado.content|render == 1%} style="border-top: 4px solid {{fields.field_color_franja_horizontal.content}}"{% endif %}>
      <div class="icon">
        <picture>
          {% if fields.field_momento_destacado.content|render == 1%}
          {{fields.field_icono_destacado.content}}
          {% else %}
          {{fields.field_icono_hover.content}}
          {% endif %}
        </picture>
      </div>
      <div class="text">
        <h3 class="titleHeight"><a {% if fields.field_momento_destacado.content|render == 1%} style="color:{{fields.field_color_titulo.content}}" {% endif %} href="{{fields.view_taxonomy_term.content}}">{{fields.name.content}}</a></h3>
        <p class="textHeight">{{fields.field_descripcion.content}}</p>
      </div>
    </div>
  </article>
