{%
  set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
  %}
  <article>
    <div class="info-top">
      <div class="column-left">
        <picture>
          {{fields.field_imagen_de_fondo_mobile.content}}
        </picture>
      </div>
      <div class="column-right">
        <h3><a href="{{fields.view_node.content}}" data-seo="btn-content">{{fields.title.content}}</a></h3>
        <p>{{fields.field_descripcion_corta.content}}</p>
      </div>
    </div>
    <div class="info-items">
      <hr />
      <div class="items">
        {% for item in row._entity.field_iconos_descriptivos %}
          {% if loop.index <=4 %}
          <div class="item">
            <div class="img">
              <div class="static">
                <picture>
                  {% set imagestyle = {
                    '#theme':      'image_style',
                    '#style_name': '49x48',
                    '#uri':        item.entity.field_icono_hover.entity.fileuri,
                    '#alt':        item.entity.field_icono_hover.alt,
                    '#title':      item.entity.field_icono_hover.title,
                    '#attributes': { class: 'lazyload' },
                  }
                  %}
                  {{imagestyle}}
                </picture>
              </div>
              <div class="hover">
                <picture>
                  {% set imagestyle = {
                    '#theme':      'image_style',
                    '#style_name': '49x48',
                    '#uri':        item.entity.field_foto.entity.fileuri,
                    '#alt':        item.entity.field_foto.alt,
                    '#title':      item.entity.field_foto.title,
                    '#attributes': { class: 'lazyload' },
                  }
                  %}
                  {{imagestyle}}
                </picture>
              </div>
            </div>
            <div class="text">
              <span>{{item.entity.field_descripcion_corta.value}}</span>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="button">
      <a href="{{fields.view_node.content}}" class="btn-link" data-seo="btn-content">Conoce más</a>
    </div>
  </article>
