<div class="download-pdf" style="width:100%; height: 100%; background-image: url('sites/default/files/2021-05/fondoPdf.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;">
<div class="download-pdf">
	<div class="img-top" style="width:100%;">
		<img alt="" src="sites/default/files/2021-05/headerPdf_0.png" />
	</div>
	<div class="title" style="text-align: center; padding:30px 25px 0 25px;">
		<h1 style="color: #000000; font-size: 17px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif;">
			Formato declaración de conflicto de<br /> 
			interés para colaboradores
		</h1>
	</div>
	<div class="table" style="padding:15px 25px 0 25px;">
		<table style="width: 100%;">
			<thead>
				<tr>
					<td style="color: #FFFFFF; font-size: 11px; font-weight: bold; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FF0000;">
						CAMPO
					</td>
					<td style="color: #FFFFFF; font-size: 11px; font-weight: bold; line-height: normal;  font-family: Arial, Helvetica, sans-serif; background-color: #FF0000;">
						INFORMACIÓN
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
						Correo Electrónicos
					</td>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
						{{ fields.webform_submission_value_3.content }}
					</td>
				</tr>
				<tr>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						Aprobación de Carta Ética
					</td>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						{{ fields.webform_submission_value_2.content }}
					</td>
				</tr>
				<tr>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
						Número de Teléfono
					</td>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
						{{ fields.webform_submission_value_7.content }}
					</td>
				</tr>				
				<tr>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						Nombre / Firma
					</td>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						{{ fields.webform_submission_value_6.content }}
					</td>
				</tr>				
				<tr>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
						Cedula
					</td>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
						{{ fields.webform_submission_value_1.content }}
					</td>
				</tr>				
				<tr>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						Grupo de Interés
					</td>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						{{ fields.webform_submission_value_11.content }}
					</td>
				</tr>				
				<tr>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
						Empresa de Servicios Temporales
					</td>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
						{{ fields.webform_submission_value_10.content }}
					</td>
				</tr>				
				<tr>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						Grupo Alquería
					</td>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						{{ fields.webform_submission_value_16.content }}
					</td>
				</tr>				

				<tr>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
						Otra Empresa
					</td>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
						{{ fields.webform_submission_value_8.content }}
					</td>
				</tr>				

				<tr>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						Regional
					</td>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						{{ fields.webform_submission_value_14.content }}
					</td>
				</tr>				

				<tr>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
						Ciudad donde Labora
					</td>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
						{{ fields.webform_submission_value_15.content }}
					</td>
				</tr>				

				<tr>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						Proceso al que Pertenece
					</td>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						{{ fields.webform_submission_value_13.content }}
					</td>
				</tr>				

					<tr>
						<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
							Otro/s proceso/s que pertenece
						</td>
						<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
							{{ fields.webform_submission_value_9.content }}
						</td>
					</tr>				

				<tr>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						Situación Conflicto de Intereses
					</td>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						{{ fields.webform_submission_value.content }}
					</td>
				</tr>				
				{% if fields.webform_submission_value_12.content is not empty  %}
					<tr>
						<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
							Explicación Conflicto Señalado
						</td>
						<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
							{{ fields.webform_submission_value_12.content }}
						</td>
					</tr>				
				{% else %}
					<tr>
						<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
							Conflictos
						</td>
						<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #F5F5F5;">
							{{ fields.webform_submission_value_5.content }}
						</td>
					</tr>				
				{% endif %}

				<tr>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						Política de Tratamiento de Datos
					</td>
					<td style="color: #505050; font-size: 10px; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF;">
						{{ fields.webform_submission_value_4.content }}
					</td>
				</tr>				

			</tbody>
		</table>
	</div>
</div>
