{#
  /**
  * @file
  * Default theme implementation to display a paragraph.
  *
  * Available variables:
  * - paragraph: Full paragraph entity.
  *   Only method names starting with "get", "has", or "is" and a few common
  *   methods such as "id", "label", and "bundle" are available. For example:
  *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
  *   - paragraph.id(): The paragraph ID.
  *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
  *   - paragraph.getOwnerId(): The user ID of the paragraph author.
  *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
  *   and methods for the paragraph object.
  * - content: All paragraph items. Use {{ content }} to print them all,
  *   or print a subset such as {{ content.field_example }}. Use
  *   {{ content|without('field_example') }} to temporarily suppress the printing
  *   of a given child element.
  * - attributes: HTML attributes for the containing element.
  *   The attributes.class element may contain one or more of the following
  *   classes:
  *   - paragraphs: The current template type (also known as a "theming hook").
  *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
  *     "Image" it would result in "paragraphs--type--image". Note that the machine
  *     name will often be in a short form of the human readable label.
  *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
  *     preview would result in: "paragraphs--view-mode--preview", and
  *     default: "paragraphs--view-mode--default".
  * - view_mode: View mode; for example, "preview" or "full".
  * - logged_in: Flag for authenticated user status. Will be true when the
  *   current user is a logged-in member.
  * - is_admin: Flag for admin user status. Will be true when the current user
  *   is an administrator.
  *
  *
  * @ingroup themeable
  */
  #}
  {%
    set classes_paragraph = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
  ]
  %}
<section class="infographic-grid1 livestock sustainability">
  <div class="containerGridp">
    <div class="content">
      <div class="c-header">
        <h2>{{ paragraph.field_titulo.value }}</h2>
      </div>
      <div class="c-infographic-grid1">
        <div class="list-featured">
          <div class="separator">
						<span class="line">
							<span class="dot-left-info"></span>
							<span class="dot-right-info"></span>
						</span>
          </div>
          <div class="item">
            <div class="number-info">
              <span>1</span>
            </div>
            {% if content.field_foto is not empty %}
              <div class="img">
                {{ content.field_foto }}
              </div>
            {% endif %}
            <div class="text">
              {% if content.field_icono is not empty %}
                <div class="logo">
                  {{ content.field_icono }}
                </div>
              {% endif %}
              <h3>{{ paragraph.field_autor.value }}</h3>
              {# Descripcion uno #}
              {% if paragraph.field_descripcion_larga is not empty %}
                {{ paragraph.field_descripcion_larga.value|raw }}
              {% endif %}
              {# cuadro con texto #}
              {% if paragraph.field_cargo is not empty or paragraph.field_descripcion_complementaria.value is not empty %}
                <div class="blockquote-border">
                  <i class="demo-icon icon-icon-edit2">&#xe828;</i>
                  <h4>{{ paragraph.field_cargo.value }}</h4>
                  <blockquote>{{ paragraph.field_descripcion_complementaria.value|raw }}</blockquote>
                </div>
              {% endif %}
              {# descipción 2 item 1 #}
              {% if paragraph.field_descripcion_dos is not empty %}
                {{ paragraph.field_descripcion_dos.value|raw }}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="list-default">
          {% if paragraph.field_items is not empty %}
            {% for item in paragraph.field_items %}
              <div class="div-content">
                <div class="separator">
                  <span class="line">
                    <span class="dot-left-info"></span>
                    <span class="dot-right-info"></span>
                  </span>
                </div>
                <div class="item">
                  <div class="number-info">
                    <span>{{ loop.index + 1 }}</span>
                  </div>
                  <div class="img">
                    <picture>
                      <img data-src="{{ file_url(item.entity.field_imagen.entity.fileuri) }}" alt="{{ item.entity.field_imagen.entity.alt }}" title="{{ item.entity.field_imagen.entity.title }}" class="lazyload">
                    </picture>
                  </div>
                  <div class="text">
                    {% if item.entity.field_icono.entity is not empty %}
                      <div class="logo">
                        <picture>
                          <img data-src="{{ file_url(item.entity.field_icono.entity.fileuri) }}" alt="{{ item.entity.field_icono.entity.alt }}" title="{{ item.entity.field_icono.entity.title }}" class="lazyload">
                        </picture>
                      </div>
                    {% endif %}
                    <h3>{{ item.entity.field_titulo.value }}</h3>
                    {# Descipcion uno #}
                    {{ item.entity.field_descripcion_larga.value|raw }}
                    {# cuadro dentro del item #}
                    {% if item.entity.field_cargo is not empty%}
                      <div class="blockquote-border">
                        <i class="demo-icon icon-icon-edit2">&#xe828;</i>
                        <h4>{{ item.entity.field_cargo.value }}</h4>
                        <blockquote>{{ item.entity.field_descripcion_dos.value|raw }}</blockquote>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
