{#
  /**
  * @file
  * Default theme implementation to display a paragraph.
  *
  * Available variables:
  * - paragraph: Full paragraph entity.
  *   Only method names starting with "get", "has", or "is" and a few common
  *   methods such as "id", "label", and "bundle" are available. For example:
  *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
  *   - paragraph.id(): The paragraph ID.
  *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
  *   - paragraph.getOwnerId(): The user ID of the paragraph author.
  *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
  *   and methods for the paragraph object.
  * - content: All paragraph items. Use {{ content }} to print them all,
  *   or print a subset such as {{ content.field_example }}. Use
  *   {{ content|without('field_example') }} to temporarily suppress the printing
  *   of a given child element.
  * - attributes: HTML attributes for the containing element.
  *   The attributes.class element may contain one or more of the following
  *   classes:
  *   - paragraphs: The current template type (also known as a "theming hook").
  *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
  *     "Image" it would result in "paragraphs--type--image". Note that the machine
  *     name will often be in a short form of the human readable label.
  *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
  *     preview would result in: "paragraphs--view-mode--preview", and
  *     default: "paragraphs--view-mode--default".
  * - view_mode: View mode; for example, "preview" or "full".
  * - logged_in: Flag for authenticated user status. Will be true when the
  *   current user is a logged-in member.
  * - is_admin: Flag for admin user status. Will be true when the current user
  *   is an administrator.
  *
  *
  * @ingroup themeable
  */
  #}
  {%
    set classes_paragraph = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,        
    ]
    %}
    <section class="editorial-banner if-img-video">
      <div class="containerGrid">
        <div class="content">
          <div class="c-editorial-banner">
            <div class="title">
              <div class="column-left">
                <h1>{{paragraph.field_titulo.value}}</h1>
              </div>
              <div class="column-right p-desktop">
                <p>{{paragraph.field_descripcion_corta.value}}</p>
              </div>
            </div>
            <div class="info">
              <div class="info-calification">
                <div class="p-mobile">
                  <p>{{paragraph.field_descripcion_corta.value}}</p>
                </div>            
              </div>
              <div class="banner {% if paragraph.field_url_youtube is not empty %}video{%else%}img{%endif%}">    
              <div class="img-banner">
                {{content.field_foto}}
              </div>
              {% if paragraph.field_url_youtube is not empty %}              
              {% if 'https://youtu.be/' in paragraph.field_url_youtube.value %}
              {% set codigo=paragraph.field_url_youtube.value|replace({'https://youtu.be/':''}) %}
              {% elseif 'https://www.youtube.com/watch?v=' in paragraph.field_url_youtube.value %}
              {% set codigo=paragraph.field_url_youtube.value|replace({'https://www.youtube.com/watch?v=':''}) %}
              {% endif %}
              <div class="video-banner" data-src="https://www.youtube.com/embed/{{codigo}}">
                <iframe width="100%" height="100%" class="iframe-yt" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="icon-play">
                <span>
                  <i class="demo-icon icon-icon-play">&#xe80d;</i>
                </span>
              </div>                    
              {% endif %}
              <div class="layer-black"></div>
            </div>        
            {% if paragraph.field_subtitulo is not empty %} 
              <div class="copy front-18">
                <span>{{paragraph.field_subtitulo.value}}</span>
              </div>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
    