{%
  set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
  %}
  <div class="item moment-item" data-tid="{{row._entity.id}}">
    <div class="img">
      <div class="static">
        <picture>
          {{fields.field_icono_mor.content}}
        </picture>
      </div>
      <div class="hover">
        <picture>
          {{fields.field_icono_hover.content}}
        </picture>
      </div>
    </div>
    <div class="text font-18">
      <span class="title">{{fields.name.content}}</span>
      {% set count=obtener_count_view(row._entity.id,'momentos_count_view','block_1') %}
      <label class="description">{{count is null ? '0' : count }} Recetas</label>
    </div>
  </div>
