  {%
  set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
  %}
  <article class="article-default">
    <div class="img-card">
      <a href="{{fields.view_node.content}}" data-seo="btn-content">
        {{fields.field_foto_principal.content}}
        {% if row._entity.field_url_youtube is not empty %}
        <div class="video">
          <div class="icon-play">
            <span><i class="demo-icon icon-icon-play">&#xe80d;</i></span>
          </div>
          <div class="layer-black"></div>
        </div>
        {% endif %}
      </a>
    </div>
    <div class="content-card">
      <span class="category">Receta destacada</span>
      <div class="content-star after">
        {% set calificacion = row._entity.field_calificacion is empty ? 0 : row._entity.field_calificacion.value %}
          {% for item in 5..1 %}
          <input type="radio" {% if calificacion == item  %} checked="checked" {% endif %}value="{{item}}">
          <label class="star"></label>
          {% endfor %}
      </div>
      <ul class="tags-ingredients no-dics">
        {% for item in row._entity.field_ingredientes_destacados%}
          <li>{{item.entity.label}}</li>
        {% endfor %}
      </ul>
      <div class="text">
        <h3 class="titleHeight"><a href="{{fields.view_node.content}}" data-seo="btn-content">{{fields.title.content}}</a></h3>
        <p class="textHeight">{{fields.body.content}}</p>
        <a href="{{fields.view_node.content}}" class="btn-link" data-seo="btn-content">Leer más</a>
      </div>
      <div class="bottom">
        <ul class="steps font-18 no-dics" {% if fields.field_numero_de_porciones.content is empty and fields.field_tiempo_de_preparacion_hora.content is empty %}align={{ " center" }}{% endif %}
        {% if fields.field_numero_de_porciones.content is empty and fields.field_nivel_de_dificultad.content is empty %}align={{ " center" }}{% endif %}
            {% if fields.field_tiempo_de_preparacion_hora.content is empty and fields.field_nivel_de_dificultad.content is empty %}align={{ " center" }}{% endif %}
            {% if fields.field_numero_de_porciones.content is empty or fields.field_tiempo_de_preparacion_hora.content is empty or fields.field_nivel_de_dificultad.content is empty %}align={{ " center" }}{% endif %}>

          {% if fields.field_numero_de_porciones.content is not empty %}
            <li>
              <span>
                <i class="demo-icon icon-icon-recipe-food">&#xe80f;</i>
                {{fields.field_numero_de_porciones.content}}<sup>{{fields.field_complemento_porciones.content}}</sup> {{ fields.field_titulo_comparador.content }}
              </span>
            </li>
          {% endif %}
          {% if fields.field_tiempo_de_preparacion_hora.content is not empty or fields.field_tiempo_de_preparacion_minu.content is not empty %}
            <li>
              <span>
                <i class="demo-icon icon-icon-recipe-time">&#xe810;</i>
                {% if fields.field_tiempo_de_preparacion_hora.content is not empty %}
                {{fields.field_tiempo_de_preparacion_hora.content}}h
                {% endif %}
                {% if fields.field_tiempo_de_preparacion_minu.content is not empty %}
                {{fields.field_tiempo_de_preparacion_minu.content}}m
                {% endif %}
              </span>
            </li>
          {% endif %}
          {% if fields.field_nivel_de_dificultad.content is not empty %}
            <li>
              <span>
                <i class="demo-icon icon-icon-recipe-chef">&#xe812;</i>
                Nivel: <b>{{fields.field_nivel_de_dificultad.content}}</b>
              </span>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </article>
