<section class="slider-ods">
  <div class="containerGridp">
    <div class="content">
      <div class="c-header">
        <h1>{{node.label}}</h1>
      </div>
      <div class="c-slider-ods">
        <div class="s-slider-ods owl-dots-gray owl-nav-icons1 owl-carousel owl-theme">
          <div class="item active" data-id="item-1">
            <span>{{node.field_titulo_a_mostrar.value}}</span>
          </div>
          {% for item in node.field_tabs_adicionales %}
          <div class="item" data-id="item-{{loop.index+1}}">
            <span>{{item.entity.field_titulo.value}}</span>
          </div>
          {% endfor %}
        </div>
        <div class="content-ods">
          <div class="item-ods active" data-id="item-1">
            <section class="editorial-banner ods if-img-video">
              <div class="containerGrid">
                <div class="content">
                  <div class="c-editorial-banner">
                    <div class="title">
                      <h2>{{node.field_titulo_a_mostrar.value}}</h2>
                    </div>
                    <div class="info">
                      <div class="info-calification">
                        <ul class="tags-ingredients no-dics">
                          {% for item in node.field_categorias_sostenibilidad %}
                            <li>{{item.entity.label}}</li>            
                          {% endfor %}                                                  
                        </ul>
                      </div>
                      <div class="banner {% if node.field_url_youtube is not empty %}video{%else%}img{%endif%}">    
                        <div class="img-banner">
                          {{content.field_foto_principal}}
                        </div>      
                        {% if node.field_url_youtube is not empty %}              
                        {% if 'https://youtu.be/' in node.field_url_youtube.value %}
                        {% set codigo=node.field_url_youtube.value|replace({'https://youtu.be/':''}) %}
                        {% elseif 'https://www.youtube.com/watch?v=' in node.field_url_youtube.value %}
                        {% set codigo=node.field_url_youtube.value|replace({'https://www.youtube.com/watch?v=':''}) %}
                        {% endif %}
                        <div class="video-banner" data-src="https://www.youtube.com/embed/{{codigo}}">
                          <iframe width="100%" height="100%" class="iframe-yt" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="icon-play">
                          <span>
                            <i class="demo-icon icon-icon-play">&#xe80d;</i>
                          </span>
                        </div>                    
                        {% endif %}
                        <div class="layer layer-black"></div>          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            
            {% if node.body is not empty %}
            <section class="full-text sustainability">
              <div class="containerGridp">
                <div class="content">
                  <div class="c-full-text">
                    {{node.body.value|raw}}
                  </div>
                </div>
              </div>
            </section>
            {% endif %}

            {{content.field_submodulos}}

          </div>
          {% for item in node.field_tabs_adicionales %}
          <div class="item-ods" data-id="item-{{loop.index+1}}">
            {{content.field_tabs_adicionales[loop.index-1]}}
          </div>
          {% endfor %}
          
        </div>
      </div>
    </div>
  </div>
</section>
